button
{
    background-color: rgb(123, 109, 212);
    border-radius: 10px solid black;
    font-family: monospace;
    width: 25%;
    height: 5em;
    margin: 2em;
}
button:hover
{
    background-color: rgb(251, 255, 22);
    cursor: alias;
}

.h1
{
    text-align: center;
}

body
{
    background-color: rgb(238, 118, 32);
}