body
{
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

button
{
	background-color: yellow;
	text-align: center;
	width: 100px;
	padding: 20px 20px;
	border-radius: 20px;
	margin-top: 50px;
	border: 2px solid yellow;
	text-align: center;
}
button:hover
{
	color: black;
	background-color: white;
	border:2px solid white;*
	text-align: center;
}

* {
   font-family: monospace;
}