body
{
	background-color:skyblue ;
	text-align: center;
}

h1 
{
	color:hotpink;
	font-family: verdana;
	font-size: 2em;

}
div
{
	border: 2px solid green;
	border-radius: 26px;
	width: 50%;
	margin-left: 35%;
	margin-right: 35%;
	padding: 3%;
}