.bloc1{
	background-color: pink;
	height: 90px;
	width: 70px;
	float: left;
	margin: 20px;
	text-align: center;
}
.bloc2{
	background-color: blue;
	height: 90px;
	width: 70px;
	float: left;
	margin: 20px;
	text-align: center;
}
.bloc3{
	background-color: yellow;
	height: 90px;
	width: 70px;
	clear: both;
	margin: 20px;
	text-align: center;
}
img{
	height: 80%;
	width: 80%;
	margin: 10%;
	margin-right: 30%;
}
body
{
	background-color: #6B9A72;
}