.bloc1{
	background-color: blue;
	height: 50px;
	width:30px;
	float: left;
	margin:10px;
}
.bloc2{
	background-color: purple;
	height: 50px;
	width:30px;
	float: left;
	margin:10px;
}
.bloc3{
	background-color: yellow;
	height: 50px;
	width:30px;
	float: left;
	margin:10px;
}