body
{
  background-color: black;
  text-align: center;
}

h1 
{
  color: white;
  font-size: 2em;
  text-align: center;

}
div
{
  border: 2px solid green;
  border-radius: 22px;
  width: 30%;
  margin-left: 32%;
  margin-right: 35%;
  padding: 3%;
}
button
{
  background-color: darkgreen;
  text-align: center;
  width:300px;
  padding: 15px 22px;
  border-radius: 22px;
  margin-top: 3px;
  border:2px solid white;

}
button:hover
{
  color:darkgreen;
  background-color: black;
  border: 2px solid green;
}
* {
   font-family: monospace;
}