body{
    background-color: rgb(14, 130, 219);
}

.container
{
    text-align: center;
    padding: 5%;
    margin: auto;
    border: 3px solid black;
    width: 50%;
    align-items: center;
}

button
{
    background-color: rgb(254, 61, 196);
    border-radius: 10px;
    font-family: monospace, sans-serif;
    width: 50%;
    height: 5em;
}
button:hover
{
    background-color: rgb(100, 242, 173);
    cursor: grab;
}
